body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #343a40;
}

.error-container {
    margin-top: 10%;
}

h1 {
    font-size: 6rem;
    color: #fd7400;
}

p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0c6ba1;
    color: white;
    border-radius: 5px;
}

a:hover {
    background-color: #fd7400;
}