body {
    background-color: #E6F3F9; /* Keep the background color from your main site */
    color: #0c6ba1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1.title {
    font-size: 8rem;
}

.btn-primary {
    background-color: #fd7400;
    color: white;
    font-weight: 650;
    border: none;
}

.btn-primary:hover {
    background-color: #0c6ba1;
    color: white;
    font-weight: 650;
    border: none;
}

.error-container {
    max-width: 43.75rem;
    text-align: center;
}

.error-image-container {
    max-width: 90%;
    margin: auto;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}