.card-img-top {
    object-fit: cover;
    height: 27rem;
}

body {
    background-color: #e6f3f9;
}

h1, h2, h3, h4, h5, h6 {
    color: #0c6ba1;
}

h1.contact, h2.contact {
    font-weight: 575;
}

#team-members {
    font-weight: 650;
}

p {
    line-height: 1.6;
    font-size: 1rem;
}

.navbar {
    padding: 10px 20px;
    background-color: #e6f3f9;
    font-size: 1.12rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,0.85)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    filter: brightness(1.2);
}

.navbar .nav-link {
    font-weight: 900;
    color: #0c6ba1 !important;
}    

.navbar .nav-link.active, 
.navbar .nav-link:hover {
    color: #92d14f !important;
}    

.navbar-brand img {
    height: 3.5rem;
    width: auto;
}

.offcanvas {
    background-color: #212529;
}

.offcanvas .nav-link {
    font-weight: 500;
}

.offcanvas .nav-link.active {
    font-weight: bold;
}

.offcanvas .navbar-brand img {
    display: block;
}

.offcanvas .btn-close {
    background-color: #92d14f !important;
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.border-bottom {
    border-color: #0c6ba1 !important;
}

.hero-section {
    padding: 60px 0;
    background-color: #0c6ba1;
    text-align: center;
}

.hero-section h1 {
    font-size: 2.5rem;
    color: #92d14f;
}

.hero-section p, .contact-section-text {
    color: #e6f3f9;
    font-weight: 645;
}

.hero-section .btn-primary, .contact-section .btn-secondary {
    background-color: #fd7400;
    font-weight: 650;
    border: none;
}

.hero-section .btn-primary:hover, .contact-section .btn-secondary:hover {
    color: white;
    font-weight: 650;
    background-color: #92d14f;
    border: none;
}

img.placeholder {
    width: 35rem;
    height: 30rem;
    color: #1E1E1E;
}

.contact-link a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

.contact-link a:hover {
    color: #fd7400;
    cursor: pointer;
}

.contact-link {
    font-size: 1.1rem;
    font-weight: 452;
    padding-top: 0;
}

.contact-heading {
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom: 0;
    padding-bottom: 0.1rem !important;
} 

.btn-primary {
    background-color: #0c6ba1;
    color: white;
    font-weight: 650;
    border: none;
}

.btn-primary:hover {
    background-color: #fd7400;
    color: white;
    font-weight: 650;
    border: none;
}

.btn-secondary {
    background-color: #92d14f;
    color: white;
    font-weight: 550;
    border: none;
}

.btn-secondary:hover {
    border: none;
    font-weight: 550;
    background-color: #fd7400;
}

.btn-submit {
    background-color: #92d14f;
    border: none;
    font-weight: 700;
    color: white;
}

.btn-submit:hover {
    background-color: #fd7400;
    border: none;
    color: white;
}

.services-section {
    padding: 60px 0;
    background-color: #e6f3f9;
}

.services-section .card {
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.services-section .card:hover {
    transform: translateY(-5px);
}

.contact-section {
    background-color: #0c6ba1;
    padding: 50px 0;
    text-align: center;
}

.contact-section-header {
    color: #92d14f;
}

.contact-section-text {
    font-size: 1.12rem;
}

.contact-info-box {
    background-color: #0c6aa1d7;
    border-radius: 8px;
    color: white;
    padding: 20px;
}

.contact-info-header {
    border: none;
    background-color: #92d14f;
    font-size: 1.4rem;
    font-weight: 650;
}

.focus-ring {
    --bs-focus-ring-color: rgba(12, 107, 161, 0.5);
    border: #0c6ba1;
}

#country-code {
    max-width: 13rem;
}

#toastContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: none;
}

.toast.show {
    display: block !important;
}

footer {
    padding: 20px 0;
    color: #92d14f;
    background-color: #0c6ba1;
    font-weight: 700;
    text-align: center;
}

footer.text-center a {
    color: #fd7400;
    text-decoration: none;
}

footer.text-center a:hover {
    color: #fd7400;
    text-decoration: underline 0.12rem;
}