* {
    user-select: none;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 400;
}

a {
    text-underline-offset: .375em;
    text-decoration-color: rgba(var(--bs-link-color-rgb), 0.75);
}

body {
    background-color: #e6f3f9;
}

h1, h2, h3, h4, h5, h6 {
    color: #0c6ba1;
}

h1.contact, h2.contact {
    font-weight: 575;
}

/* #team-members {
    font-weight: 650;
} */

p {
    line-height: 1.6;
    font-size: 1rem;
}

.text-justify {
    text-align: justify;
}

.font-size-big {
    font-size: 1.1rem;
}

.font-size-big2 {
    font-size: 1.08rem;
}

.font-size-bigger {
    font-size: larger;
}

.fw-contact {
    font-weight: 455;
}
