.navbar {
    padding: 10px 20px;
    background-color: #e6f3f9;
    font-size: 1.12rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,0.85)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    filter: brightness(1.2);
}

.navbar a.nav-link {
    font-size: 1.25rem;
    color: #0c6ba1;
    font-weight: 400;
}    

.navbar a.nav-link.active, 
.navbar a.nav-link:hover {
    color: #92d14f !important;
    font-weight: 500 !important;
}

.navbar-brand img {
    height: 3.5rem;
    width: auto;
}

.offcanvas {
    background-color: #e6f3f9;
}

.offcanvas .navbar-brand img {
    display: block;
}

.offcanvas .btn-close {
    background-color: #92d14f !important;
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.border-bottom, .border-start {
    border-color: #0c6ba1 !important;
}

